:root{
    --main-color:rgb(74, 74, 74);
}

html{
    height: 100%;
}

.main-content{
    background-image: url("../../img/haikeimoji/haikei.png");
    display: flex;
    justify-content: center;
    height: 100%;
}

.login-div{
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.47);
    width: 90%;
    max-width: 300px;
}

.login-header{
    display: flex;
    background: var(--main-color);
}

.login-header button{
    color: white;
    width: 50%;
    height: 30px;
    border: none;
    background: transparent;
}

.login-header button p{
    margin: auto;
    width: 70%;
}

.login-footer{
    display: flex;
    justify-content: right;
    margin-top: 10px;
    border-top: 1px solid var(--main-color);
}