body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

p{
    margin: 0;
}

.main-content{
    position: relative;
    height: 100%;
    width: 100%;
}

.name{
    position: absolute;
    border: 1px solid black;
    min-width: 120px;
    background: #dfdfdf9c;
}

.top-content{
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.score-bord .top-content{
    transform: translateX(-50%) rotateZ(180deg);
}

.bottom-content{
    bottom: 10%;
    left: 50%;
    transform:translateX(-50%);
}

.right-content{
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.score-bord .right-content{
    transform: translateY(-50%) rotateZ(-90deg);
}

.left-content{
    transform:translateY(-50%);
    top: 50%;
    left: 5%;
}

.score-bord .left-content{
    transform:translateY(-50%) rotateZ(90deg);
}

.name p{
    font-size: 20px;
    padding: 4px 8px;
}

.name div{
    position: absolute;
    width: 200px;
    height: 80px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(-190%);
}

.bottom-content.name{
    left: 10%;
}

.parent{
    color: red;
}

.close-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 120px;
    z-index: 2;
}

.main-bord{
    position: relative;
    height: calc(100% - 200px);
    width: 100%;
    background:rgb(13, 121, 10);
}

.footer {
    
    display: flex; /* 子要素を横並びにする */
    flex-wrap: wrap;
    justify-content: center;
}

.throw-hai{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.throw-hai-table{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hai-table{
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  text-align: center;
}

.border-div {
    width: 240px;
    aspect-ratio: 3 / 1;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move; 
    margin: auto 7px;
    border-radius: 5px;
    background-size: contain;
}

.border-div p{
    background: #ffffff91;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
}

.score-bord{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
    height: 250px;
    border: 1px solid black;
    background: #424242;
}

.score-bord p{
    position: absolute;
    background: #dadada;
    padding: 10px 25px;
}

.throw-button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 80px;
}

.bark-div{
    position: absolute;
    bottom: 10%;
    right: 20%;
    display: flex;
}

.bark-div button{
    width: 130px;
    height: 80px;
    font-size: 20px;
}

.bark-div h2{
    font-size: 40px;
}

@keyframes blinking{
    0%{
        background: #dadada;
    }
    50%{
        background: rgba(255, 0, 0, 0.591);
    }
    100%{
        background: #dadada;
    }
}

@keyframes blinking-bark{
    0%{
        background: #dadada;
    }
    50%{
        background: rgba(0, 170, 255, 0.591);
    }
    100%{
        background: #dadada;
    }
}


