body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    margin: 0;
}

.main-content {
    position: relative;
    height: 100%;
    width: 100%;
    user-select: none;
}

.name {
    position: absolute;
    min-width: 120px;
    background: rgb(30 30 30 / 54%);
}

.name p {
    color: white;
}

.top-content {
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
}

.top-content-hai {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.score-bord .top-content-ten {
    transform: translateX(-50%) rotateZ(180deg);
}

.bottom-content {
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.right-content {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.score-bord .right-content-ten {
    transform: translateY(-50%) rotateZ(-90deg);
}

.left-content {
    transform: translateY(-50%);
    top: 50%;
    left: 5%;
}

.score-bord .left-content-ten {
    transform: translateY(-50%) rotateZ(90deg);
}

.name p {
    font-size: 20px;
    padding: 4px 8px;
}

.selection-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.selection-div button {
    width: 240px;
    aspect-ratio: 3/ 1;
    background: #ffbd59;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 24px;
}

.division-div {
    min-width: 200px;
    height: 80%;
    margin: 20px 20px 0 20px;
    background: #ffbd59;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.division-div.division-m {
    background: rgb(255, 145, 77);
}

.division-s::before {
    content: 'S';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width: 40px;
    height: 20px;
    background: #ffbd59;
}

.division-v::before {
    content: 'V';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width: 40px;
    height: 20px;
    background: #ffbd59;
}

.division-c::before {
    content: 'C';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width: 40px;
    height: 20px;
    background: #ffbd59;
}

.division-o::before {
    content: 'O';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width: 40px;
    height: 20px;
    background: #ffbd59;
}

.division-m::before {
    content: 'M';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width: 40px;
    height: 20px;
    background: rgb(255, 145, 77);
}

.division-div .division-m {
    margin: 0 40px 0 40px;
    height: 100%;
}

.sentence-div {
    display: flex;
    align-items: center;
    height: 90%;
    min-width: 200px;
    background: white;
    margin: 20px;
    box-sizing: border-box;
}

.name div {
    position: absolute;
    width: 200px;
    height: 80px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(-190%);
}

.bottom-content.name {
    left: 10%;
}

.parent {
    color: red;
}

.close-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 120px;
    z-index: 2;
}

.main-bord {
    position: relative;
    height: calc(100% - 270px);
    width: 100%;
    background-image: url('/img/background/ゲーム画面背景.png');
    background-size: 2200px;
}

.footer {
    height: 270px;
    display: flex; /* 子要素を横並びにする */
    flex-wrap: wrap;
    justify-content: center;
}

.throw-hai {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.throw-hai-table {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hai-table {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}

.border-div {
    width: 170px;
    aspect-ratio: 3 / 1;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    margin: auto 7px;
    border-radius: 5px;
    background-size: contain;
    transition: 0.6s;
}

.border-div:hover {
    transform: scale(1.2);
}

.border-div p {
    background: #ffffff91;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.score-bord {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
    height: 242px;
    background-image: url('/img/background/gameplaycenter.png');
    background-size: 100%;
}

.score-bord p {
    position: absolute;
    padding: 10px 25px;
    color: white;
}

.throw-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 80px;
}

.bark-div {
    position: absolute;
    bottom: 5%;
    right: 7%;
    display: flex;
}

.pon-button,
.skip-button {
    padding: 14px 32px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    cursor: pointer;
    width: 200px;
    margin: 20px 0;
}

.pon-button {
    background-color: #d43f00;
    color: white;
}

.pon-button:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.skip-button {
    background-color: #666;
    color: white;
}

.skip-button:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.bark-div h2 {
    font-size: 40px;
}

.word-up-right {
    position: absolute;
    right: 0;
    border-left: 1px solid black;
}

.word-up-right button {
    background: #ffde59;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
}

.background-div {
    transition: 0.6s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.337);
    pointer-events: none;
}

.result-page {
    /*opacity: 0;*/
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%) translateY(-50%);
    flex-direction: column;
    align-items: center;
}

.result-button {
    padding: 1em 2em;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(to bottom, #305030, #203820);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.finish-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 1.3rem;
    color: #ffffff;
    background: linear-gradient(to bottom, #ffc5c5c9, #ff0000);
    box-shadow: 0 6px 0 #8b1a1a;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.complete-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #ebebeb;
    padding: 20px 40px;
}

.complete-table {
    display: flex;
}

.sentence-pattern {
    width: 250px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.sentence-pattern div {
    background: rgb(255, 189, 89);
    width: 200px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blinking {
    0% {
        background: #dadada;
    }
    50% {
        background: rgba(255, 0, 0, 0.591);
    }
    100% {
        background: #dadada;
    }
}

@keyframes blinking-bark {
    0% {
        background: #dadada;
    }
    50% {
        background: rgba(0, 170, 255, 0.591);
    }
    100% {
        background: #dadada;
    }
}

.example4 {
    background: linear-gradient(90deg, #e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783, #e60000) 0 / 200%;
    animation: 1s example4 linear infinite;
}

@keyframes example4 {
    100% {
        background-position: 600%;
    }
}

.top-content-ten {
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.right-content-ten {
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
}

.left-content-ten {
    transform: translateY(-50%);
    top: 50%;
    left: -4%;
}

.bottom-content-ten {
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.oyaban {
    position: 'absolute';
    width: 100px;
    height: 100px;
    background-image: url('/img/background/gameplaymoon.png');
    background-size: 82%;
    background-repeat: no-repeat;
    top: 69%;
    left: -15;
}

@keyframes hariken {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes hai1 {
    from {
        transform: rotate(-6deg) translateY(10px);
    }
    to {
        transform: rotate(6deg) translateY(-10px);
    }
}

@keyframes hai2 {
    from {
        transform: rotate(4deg) translateY(-10px);
    }
    to {
        transform: rotate(-4deg) translateY(7px);
    }
}

@keyframes hai3 {
    from {
        transform: rotate(-5deg) translateY(8px);
    }
    to {
        transform: rotate(6deg) translateY(-12px);
    }
}

@keyframes hai4 {
    from {
        transform: rotate(6deg) translateY(-14px);
    }
    to {
        transform: rotate(-7deg) translateY(5px);
    }
}
