html{
    height: 100%;
}

body{
    margin: 0;
}

.main-content{
    height: 100%;
    width: 100%;
}

.name{
    position: absolute;
    border: 1px solid black;
}

.top{
    top: 0;
    left: 50%;
}

.bottom{
    bottom: 0;
    left: 10px;
}

.right{
    top: 50%;
    right: 0;
}

.left{
    top: 50%;
    left: 0;
}

.name p{
    font-size: 16px;
    padding: 4px 8px;
}

.parent{
    color: red;
}

.card-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.field{
    display: flex;
    justify-content: left;
    width: 80%;
    height: 95px;
    border: 1px solid black;
}

.hai-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    border: 1px solid black;
    margin: 4px 8px;
}

.hai-text{
    margin: 0;
    padding: 8px 16px;
}
