.balloon {
  display: inline-block;
  position: absolute;
  background: rgba(109, 109, 109, 0.7);
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  max-width: 300px;
  font-size: 16px;
  transition: 0.4s;
  transform: translateX(-50%);
  pointer-events: none;
}

.balloon::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: rgba(109, 109, 109, 0.4) transparent transparent transparent;
}

@media (max-width: 1710px) {
    .balloon {
        scale: calc(100vw / 1710px);
    }
  }