.result-page {
    /*opacity: 0;*/
    background-image: url("../../img/result/背景.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: flex;
    transform: translateX(-50%) translateY(-50%);
    flex-direction: column;
    align-items: center;
}
.result-round{
    color: white;
    font-size: 30px;
    margin-left: 30px;
    display: inline;
    position: absolute;
    left: 0;
}
.result-name{
    color: white;
    font-size: 30px;
    display: inline;
}

.result-main {
    color: white;
}

.result-grade {
    display: grid;
    grid-template-columns: 2fr 2fr 5fr;
    border: 2px solid white;
    margin: 20px 30px;
    color: white;
    width: 34vw;
}

.result-grade h2 {
    margin: 5px 8px;
}

.result-score {
    font-size: 20px;
    margin: auto 10px auto auto;
}

.result-grammer-div {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.result-button {
    padding: 1em 2em;
    /* font-size: 1.2rem; */
    /* background: linear-gradient(to bottom, #8ff2ff, #97dbf7); */
    background: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}



.allten{
    padding: 1em 0;
}
