<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ボタンだけ表示</title>
</head>

<body>
    <button id="resetBtn">リセット</button>
    <button id="changeBtn">変化</button>
</body>

<script src="/js/utils/cMbunka.js"></script>
<script>
    window.onload = () => {
        const protocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
        const connectionmanager = new connectionManager();
        connectionmanager.connect(`${protocol}://${window.location.host}/home`);

        // 省略...

        // リセットボタン押下時の処理
        document.getElementById('resetBtn').addEventListener('click', () => {
            const sendData = {
                type: 'reset',
                payload: {

                },
            };
            connectionmanager.send(sendData);
        });

        // 変化ボタン押下時の処理
        document.getElementById('changeBtn').addEventListener('click', () => {
            const sendData = {
                type: 'change',
                payload: {

                },
            };
            connectionmanager.send(sendData);
        });

        // 以降も既存の処理...
    };
</script>

</html>