<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>グラ麻雀　｜　ホーム</title>
        <link rel="icon" href="/img/haikeimoji/gu.png" />
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/home/roomList.css" />
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    </head>

    <body>
        <img id="backgroundImage" class="background-image" src="/img/home.png" alt="" />

        <div class="home-div">
            <div class="name-button" id="setname">
                <button id="profile" style="display: flex; flex-direction: column-reverse">
                    <h2 style="padding: 0 50% 17% 0; margin: 0"><%= name %></h2>
                </button>
            </div>
            <div id="userID" class="userID"><%= userId %></div>
            <button id="galaxyBtn" class="galaxyBtn"></button>
            <br />
            <br />
            <div class="rotate"><button class="heyaset" id="showCreateBtn"><h2></h2></button></div>
            <div class="background-div" style="opacity: 0" id="backgroundDiv"></div>
            <div class="background-div" style="opacity: 0" id="backgroundDivName">
                <div style="position: absolute; width: 100%; height: 100%; display: flex; top: 50%; left: 50%; pointer-events: none">
                    <div
                        class="create-room-name"
                        id="CreatSet"
                        style="width: 300px; height: 200px; display: flex; flex-direction: column; border: 1px solid #444; transform: translate(-50%, -50%)">
                        <button onclick="window.location.href = '/deleteUser'" style="height: 50%; width: 100%; font-size: 18px; border: none">
                            アカウント削除
                        </button>
                        <button onclick="window.location.href = '/logout'" style="height: 50%; width: 100%; font-size: 18px; border: none">
                            ログアウト
                        </button>
                        <button id="wa" style="height: 50%; width: 100%; font-size: 18px; border: none;">設定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 部屋表示 -->
        <div class="room-list-wrapper" id="roomList" style="opacity: 0; transition: 0.4s; pointer-events: none; z-index: 10">
            <div class="room-list-header">
                <h2>部屋一覧</h2>
                <button class="close-btn" id="closeRoomList">×</button>
            </div>

            <div class="room-list-container" id="main-div"></div>
        </div>

        <!-- 部屋作成 -->
        <div id="createRoomDiv" class="room-list-wrapper" style="opacity: 0; transition: 0.4s; pointer-events: none; z-index: 10">
            <div class="room-list-header">
                <h2>部屋作成</h2>
                <button class="close-btn" id="closeCreateRoom">×</button>
            </div>

            <input id="roomName" class="room-name-input" type="text" value="<%= name %>の部屋" />
            <div style="display: flex; justify-content: right">
                <button class="join-btn" style="margin: 10px" id="createBtn">作成</button>
            </div>
        </div>

        <!--
        <div id="settingdiv" class="settingdiv" style="opacity: 0; pointer-events: none;">
            Change the color of your name tag!
            <div class="colors-row">
                <button class="colorbox" id="ChangeUpColor1" style="background-color: rgba(0, 0, 0, 0.5);">black</button>
                <button class="colorbox" id="ChangeUpColor2" style="background-color: rgba(255, 255, 255, 0.5); color: black;">white</button>
                <button class="colorbox" id="ChangeUpColor3" style="background-color: rgba(255, 0, 0, 0.5)">red</button>
                <button class="colorbox" id="ChangeUpColor4" style="background-color: rgba(0, 0, 255, 0.5);">blue</button>
                <button class="colorbox" id="ChangeUpColor5" style="background-color: rgba(0, 255, 0, 0.5); color: black;">green</button>
                <button class="colorbox" id="ChangeUpColor6" style="background-color: rgba(255, 255, 0, 0.5); color: black;">yellow</button>
                <button class="colorbox" id="ChangeUpColor7" style="background-color: rgba(128, 0, 128, 0.3);">purple</button>
                <button class="colorbox" id="ChangeUpColor8" style="background-color: rgba(128, 128, 128, 0.5);">graw</button>
            </div>
        </div>
        -->
    </body>
    <script src="/js/pages/home.js" type="module" defer></script>
</html>
