<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>本体画面</title>
    <link rel="stylesheet" href="/css/hontaigamen.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
<body>
    <div class="main-div"></div>
    
</body>
</html>