<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="main-content">
        <div class="nanka">
                <img src="../../img/haikeimoji/gu.png" width="500px" height="500px">
                <img src="../../img/haikeimoji/ra.png"width="500px"height="500px">
                <img src="../../img/haikeimoji/ma.png"width="500px"height="500px">
                <img src="../../img/haikeimoji/jyan.png"width="500px"height="500px">
        </div>
    </div>
    <div class="main-content" >
        <div class="login-div">
            <div class="login-header">
                <button onclick="changeForm('login');">
                    <p style="border-bottom: 1px solid white;">ログイン</p>
                </button>
                <button onclick="changeForm('signin');">
                    <p>サインイン</p>
                </button>
            </div>
            <form id="loginForm">
                <div>
                    <p>ユーザー名</p>
                    <input type="text" id="usernameInput" required>
                    <p>パスワード</p>
                    <input type="password" id="passwordInput" required>
                </div>
                <div class="login-footer">
                    <button type="submit">決定</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/pages/index.js"></script>
</body>

</html>