<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="main-content">
        <div class="nanka">
            <img src="../../img/haikeimoji/gu.png">
            <img src="../../img/haikeimoji/ra.png">
            <img src="../../img/haikeimoji/ma.png">
            <img src="../../img/haikeimoji/jyan.png">
        </div>

    </div>
    <div class="main-content">
        <button id="hyouji" class="hyouji-style"><img src="../../img/haikeimoji/start.png"></button>
        <div class="login-div" id="hyoujis">
            <div class="login-header">
                <button onclick="changeForm('login');">
                    <p style="border-bottom: 1px solid white;">ログイン</p>
                </button>
                <button onclick="changeForm('signin');">
                    <p>サインイン</p>
                </button>
            </div>
            <form id="loginForm">
                <div>
                    <p class="usersettei" id="usersettei">ユーザー名</p>
                    <input type="text" id="usernameInput" required>
                    <p class="usersettei " id="usersettei">パスワード</p>
                    <input type="password" id="passwordInput" required>
                </div>
                <div class="login-footer">
                    <button type="submit">決定</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/pages/index.js"></script>
</body>

</html>