<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>user</title>
        <link rel="stylesheet" href="/css/index.css" />
    </head>

    <body>
        <div class="main-content">
            <div class="nanka">
                <img src="../../img/haikeimoji/gu.png" class="gu" />
                <img src="../../img/haikeimoji/ra.png" class="ra" />
                <img src="../../img/haikeimoji/ma.png" class="ma" />
                <img src="../../img/haikeimoji/jyan.png" class="jyann" />
            </div>
        </div>
        <div id="loginBox" class="login-box" style="display: none; opacity: 0">
            <div class="tab-buttons">
                <button id="loginTab" class="active">ログイン</button>
                <button id="signupTab">サインイン</button>
            </div>

            <input id="userName" type="text" placeholder="ユーザー名" />
            <input id="password" type="password" placeholder="パスワード" />
            <div style="display: flex; justify-content: right">
                <button class="submit-btn" id="submitBtn">ログイン</button>
            </div>
        </div>

        <button id="startBtn" class="start-btn"><img src="../../img/haikeimoji/start.png" /></button>
        <script src="/js/pages/index.js"></script>
    </body>
</html>
