<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/play.css">
    <script src="/js/play/play.js" type="module" defer></script>
</head>

<body>
    <div class="background-div" id="backgroundDiv" style="opacity: 0;"></div>
    <div class="main-content">
        <div class="main-bord">
            <div class="complete-div" id="completeDiv" style="opacity: 0;z-index:-1;pointer-events:none;">
                <h2></h2>
                <div class="complete-table">
                </div>
            </div>

            <div class="top-content name">
                <p></p>
                <div style="opacity: 0;">
                    ポン！
                </div>
            </div>
            <div class="right-content name">
                <p></p>
                <div style="opacity: 0;">
                    ポン！
                </div>
            </div>
            <div class="bottom-content name">
                <p id="usernameText">
                    <%= username %>
                </p>
                <div style="opacity: 0;">
                    ポン！
                </div>
            </div>
            <div class="left-content name">
                <p></p>
                <div style="opacity: 0;">
                    ポン！
                </div>
            </div>

            <div class="throw-hai-table">
                <div class="throw-hai top-content" style="opacity: 0;">
                    word
                </div>
                <div class="throw-hai right-content" style="opacity: 0;">
                    word
                </div>
                <div class="throw-hai bottom-content" style="opacity: 0;">
                    word
                </div>
                <div class="throw-hai left-content" style="opacity: 0;">
                    word
                </div>
            </div>
            <div class="score-bord" style="opacity: 0;" id="scoreBord">
                <p class="top-content">25000</p>
                <p class="right-content">25000</p>
                <p class="bottom-content">25000</p>
                <p class="left-content">25000</p>
                <button class="finish-button" style="opacity: 0;pointer-events:none;" id="finishButton">あがる</button>
            </div>

            <button class="close-btn" id="closeBtn" style="display: none;">締め切る</button>

            <div class="bark-div" id="barkDiv" style="display: none;">
                <button>ポン</button>
                <button>スキップ</button>
                <h2></h2>
            </div>
        </div>
        <div class="footer">
            <div style="display: flex;width:100%;">
                <div class="sentence-pattern" id="sentencePattern">
                    <div>S</div>
                    <div>V</div>
                    <div>C</div>
                    <div>O</div>
                    <div>M</div>
                </div>
                <div style="width:100%;overflow:hidden;">
                    <div class="hai-table" id="wordUp" style="background:rgb(217, 217, 217);">
                    </div>
                    <div class="hai-table" id="wordDown" style="background-image: url(/img/space.png);">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>