<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/play.css">
    <script src="/js/play/play.js" type="module" defer></script>
</head>
<body>
    <div class="main-content">
        <div class="top name">
            <p></p>
        </div>
        <div class="right name">
            <p></p>
        </div>
        <div class="bottom name">
            <p id="usernameText"><%= username %></p>
        </div>
        <div class="left name">
            <p></p>
        </div>

        <button id="testButton">Button</button>

        <button class="close-btn" id="closeBtn">締め切る</button>

        <div class="footer">
            <div class="hai-table" id="wordUp">
    
            </div>
            <div class="hai-table" id="wordDown">
            </div>
        </div>
        <div class="score-bord" style="opacity: 0;" id="scoreBord">
            <p class="top" style="transform: translateX(-50%) rotateZ(180deg);">25000</p>
            <p class="right" style="transform: translateY(-50%) rotateZ(-90deg);">25000</p>
            <p class="bottom" style="left: 50%;transform:translateX(-50%);">25000</p>
            <p class="left" style="transform:translateY(-50%) rotateZ(90deg);">25000</p>
        </div>
    </div>
</body>
</html>