<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/play.css">
    <script src="/js/play.js" type="module" defer></script>
</head>
<body>
    <div class="main-content">
        <div class="top name">
            <p></p>
        </div>
        <div class="right name">
            <p></p>
        </div>
        <div class="bottom name">
            <p id="usernameText"><%= username %></p>
        </div>
        <div class="left name">
            <p></p>
        </div>

        <button id="testButton">Button</button>

        <button class="close-btn">締め切る</button>

        <!--
        <div class="card-footer">
            <div class="field" id="productionField">
                
            </div>
            <div class="field" id="freeField">

            </div>
        </div>
        -->
    </div>
</body>
</html>