<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/play.css">
    <script src="/js/play.js"></script>
</head>
<body>
    <div class="taimen-div">
        <div class="nametagu-tate-div">
            <p id="parentnameText"><%= parentName %></p>
        </div>
    </div>

        <div class="hidari-div">
            <div class="nametagu-yoko-div">
                
            </div>
        </div>

        <div class="migi-div">
            <div class="nametagu-yoko-div">
                u
            </div>
        </div>

    <div class="jibun-div">
        <div class="nametagu-tate-div" >
            <p id="usernameText"><%= username %></p>
        </div>
    </div>

</body>
</html>