<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/room.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
<body>
    <h2 id="userName" ><%= name %></h2>
    <button style="margin: 0 auto;" onclick="window.location.href = '/deleteUser'">アカウント削除</button>
    <br>
    <br>
    <button style="margin: 0 auto;" onclick="createRoom();">部屋作成</button>
    <button style="margin: 0 auto;" onclick="deleteRoom();">部屋削除</button>
    <div class="main-div">
        
    </div>
</body>
<script src="/js/room.js"></script>
</html>
